.greet{
    background-image: url('../mediaFiles/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(25%);
    opacity: 0.90;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    color: #fff;
    font-family: cursive;
    padding: 2rem;
    text-align: center;
}

.greet h2{
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.545);
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.btn{
    border: 5px solid #fff;
    -webkit-text-stroke: 1px rgb(70, 70, 70);
    -webkit-text-fill-color: rgb(255, 255, 255);
    border-radius: 20%;
    font-weight: bolder;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.27);
}

.btn:hover{
    -webkit-text-fill-color: #000;
    border-color: #000;
    background-color: #ffffff5f;
}