.home{
    background-image: url('../mediaFiles/homeBackgound.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    color: #fff;
    font-family: cursive;
    padding: 2rem;
}

.logout-bar{
    font-size: large;
}